[Desktop Entry]
Type=Application
Name=SingularityApp
Comment=Unofficial SingularityApp
Comment[ru]=Неофициальное приложение Singularity
Exec=singularity-shell
Icon=singularity-shell
Categories=Office;Utility;
Terminal=false
